@use "../../styles/variables" as v;

.main{
    height: 85vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4rem 0;

    h1{
        color: v.$primary-color-blue;
    }

    .box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7rem 6rem;
    }

    .divisor{
        width: 1px;
        height: 100%;
        background-color: rgb(152, 152, 152);
        margin: 0 2rem;
    }
}

