.main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .box{
        border: solid 1px rgb(221, 214, 214);
        width: 60%;
        height: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        @media (max-width:1500px) {
            width: 80%;
            height: 50%;
        }

        @media (max-width:980px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            height: auto;
            padding: 1rem 1rem;
        }

        @media (max-width:600px) {
            width: auto;
        }

        .boxLeft{
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                border: solid 0.5rem blue;
                border-radius: 50%;
                width: 90%;
            }
        }

        .boxRigth{
            width: 80%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .boxRigthTop{
                padding: 2rem 1rem;

                h2{
                    font-size: 2rem;
                }

                p{
                    color: #278733;
                }
            }

            .boxRigthMain{
                padding: 0 1rem;
                height: 100%;

                @media (max-width:600px) {
                    width: auto;
                }

                p{
                    font-size: 1.2rem;
                    padding-bottom: 1rem;
                    color: black;
                }

                .boxRigthMainTwo{
                    height: 20%;
                    display: flex;

                    @media (max-width:850px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                    p{
                        font-size: 1rem;
                        padding-right: 1rem;
                    }

                    .icon{
                        display: flex;
                        width: auto;
                        height: auto;
                        gap: 0.5rem;

                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .boxTags{
                    display: flex;
                    height: auto;
                    gap: 1rem;
                    margin: 1rem 0;

                    p{
                        background: #D4E7D6;
                        padding: 0.4rem 1rem;
                        border: solid 1px #D4E7D6;
                        border-radius: 10px;
                        color: #278733;
                        font-size: 0.8rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    }
                  
                    @media (max-width:600px) {
                        gap: 0.2rem;
                        width: 100%;
                                               
                        p{
                            font-size: 0.5rem;
                            width: auto;
                        }
                    }

                }
            }
        }
    }
}