$font-family: 'Source Sans 3', sans-serif;
$background-color: #F5F5F5;
$primary-color-blue: #205691;
$secondary-color-light-blue: #E5F1FB;
$primary-color-pink:#FD7267;
$secondary-color-light-pink:#f29f99;