@use "../../styles/variables" as v;

.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .one{
        width: 60%;
        padding: 0 2rem;
        margin: 0 1.5rem;
        h1{
            width: 80%;
            color: v.$primary-color-blue;
            font-size: 5.5rem;
            margin: 2rem 0;
        }

        p{
            color: v.$primary-color-blue;
            font-size: 1.7rem;
            width: 70%;
            margin: 2rem 0;
        }

        .button{
            width: 30%;
            height: 3rem;
            padding: 2rem 0;
            background-color: v.$primary-color-pink;
            border: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
            color: #ffffff;
            cursor: pointer;

            &:hover{
                background-color: v.$secondary-color-light-pink;
            }
        }

        .data_nambers{
            width: 100%;
            height:10rem;
            margin: 4rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;


            article{
                height: 80%;
                width: 15%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2{
                    font-size: 3rem;
                    font-weight: bold;
                    text-align: center;
                    width: 100%;
                    color: v.$primary-color-blue;
                }

                p{
                    font-size: 1rem;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }

    .two{
        width: 40%;
        display: flex;
        justify-content: center;
        align-self:self-start;
    }
}