@use "../../styles/variables" as v;

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 30%;
    text-align: center;

    h2{
        color: v.$primary-color-blue;
        font-weight: bold;
    }

    p{
        color: v.$primary-color-blue;
        font-weight: 400;
    }

    button{
        width: 60%;
        padding: 1rem 1rem;
        background-color: v.$primary-color-blue;
        border: none;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 10px;

        &:hover{
            background-color: v.$secondary-color-light-blue;
            color: v.$primary-color-blue;
            border: solid 1px v.$primary-color-blue;
        }
    }
}