@use "../../styles/variables" as v;

.main{
    opacity: 0;
    transform: translateY(24px);
    animation: fadeUp 0.6s ease forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 30%;
    text-align: center;

    h2{
        color: v.$primary-color-blue;
        font-weight: bold;
    }

    p{
        color: v.$primary-color-blue;
        font-weight: 400;
    }

    button{
        width: 60%;
        padding: 1rem 1rem;
        background-color: v.$primary-color-blue;
        border: none;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 10px;

        &:hover{
            background-color: v.$secondary-color-light-blue;
            color: v.$primary-color-blue;
            border: solid 1px v.$primary-color-blue;
        }
    }


    @media (max-width:1200px) {
        img{
            width: 90%;
        }

        h2{
            font-size: 1.2rem;
        }

        p{
            font-size: 0.8rem;
        }

        button{
            width: 40%;
            font-size: 0.8rem;
        }
    }

    @media (max-width:750px) {
        button{
            width: 90%;
        }
    }

    @media (max-width:500px) {
        width: 100%;
        img{
            width: 100%;
        }

        button{
            margin-bottom: 2rem;
        }
    }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}