@use "../../styles/variables" as v;

.header{
    background-color: v.$primary-color-blue;
    width: 100%;
    height: 10vh;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .box_header{
        width: 70%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;


        .box_header_logo{
            cursor: pointer;
            img{
                height: 100%;
            }
        }

        .box_header_nav{
            width: 90%;

            nav{
                ul{
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    gap: 4rem;

                    li{
                        a{
                            text-decoration: none;;
                            font-weight: 500;
                            color: #ffffff;
                            font-size: 1.2rem;
                            transition: transform 0.4s ease-in-out;
                            transform: scale(1);
                            display: inline-block;

                            &:hover{
                                color: v.$secondary-color-light-blue;
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }

    .box_header_user{
        cursor: pointer;
        margin-right: 20px;

        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover; 
            border: 3px solid #fff; 
            box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        }
    }
}