@use "../../styles/variables" as v;

.footer{
    background-color: v.$secondary-color-light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

@media (max-width:900px) {
    .footer{
        font-size: 70%;
        text-align: center;
    }
}